<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Delect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
</head>

<body>
    <div id="Main">The following are the recommended restaurants for you.

    </div>
      
</body>

<script type="text/javascript" >
    var restaurants = "{{ restaurants | safe}}".split(',');

    if (restaurants.length == 0) {
        document.getElementById('Main').innerHTML += "Sorry! No results found."
    } else {
        var i = 0;
        while (i < restaurants.length) {
            restaurant = restaurants[i];
            document.getElementById('Main').innerHTML += "<p>" + restaurant + "</p>";
            i++;
        }
    }
</script>
</html>