<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Delect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
</head>

<body>
    <div id="Main">The following are the top three restaurants for you.</div>
    <div id="first"></div>
    <div id="second"></div>
    <div id="third"></div>
      
</body>

<script type="text/javascript" >
    var restaurants = "{{ restaurants | safe}}".split(',');
    console.log(restaurants);

    if (restaurants.length < 3) {
        console.error("Restaurants length was shorter than expected.")
    }

    var one = restaurants[0];
    var two = restaurants[1];
    var three = restaurants[2];

    document.getElementById('first').innerHTML = one;
    document.getElementById('second').innerHTML = two;
    document.getElementById('third').innerHTML = three;
</script>
</html>